#layuicss-laydateTab{display:none;position:absolute;width:1989px}
.laydate-tab {
	position: fixed;
	box-shadow: 0 2px 4px rgba(0,0,0,.12);
	background: #fff;
}
.laydate-tab>ul{
	display: flex;
	border: 1px solid #d2d2d2;
	border-bottom: none;
	padding: 0px;
	margin: 0px;
}
.laydate-tab>ul>li {
    list-style: none;
	display: inline-block;
	flex: 1 1 auto;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}
.laydate-tab>ul>li:last-of-type{
	border-right: none;
}
.laydate-tab>ul>li.selected,
.laydate-tab>ul>li:hover{
	color: #fff;
}
.laydate-tab>ul>li:hover{
	background: #808d96;
}
.laydate-tab>ul>li.selected{
	background: #009688;
}
.laydate-tab>.laydate-tab-panl>div {
	display: none;
	text-align: center;
	border: 1px solid #d2d2d2;
	box-sizing: border-box;
}
.laydate-tab>.laydate-tab-panl>div.selected {
	display: block;
}
/* 隐藏laydate原有的阴影 */
.laydate-tab .layui-laydate, .laydate-tab .layui-laydate-hint {
	border : none;
	box-shadow: none;
}
.laydate-tab .layui-laydate-footer{
	text-align: left;
}